* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(204, 227, 228);
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
}

.my-photo {
  width: 40%;
}

.my-photo img {
  width: 100%;
}

#personal-photo {
  border-radius: 50%;
  width: 80%;
}

.header-content {
  width: 60%;
  margin: 20px;
}

section {
  margin-top: 10px;
}

.section-header {
  cursor: pointer;
}

.experience, .studies {
  display: none;
  background-color: azure;
  padding: 10px;
}

.show {
  margin-top: 8px;
}

.social-links {
  list-style-type: none;
}

footer {
  margin-top: 40px;
}

.social-button {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.social {
  display: inline;
  margin-right: 100px;
  background-color: rgb(111, 174, 152);
  padding: 10px 12px;
  border-radius: 5px;
}

.social:hover {
  background-color: rgb(60, 126, 103);
}

button {
  border: none;
  background-color: rgb(169, 202, 203);
  border-radius: 15px;
  height: 30px;
  width: 120px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(90, 147, 150);
}

.name-printer {
  margin-top: 40px;
}

.instructions {
  margin-top: 10px;
  font-size: 13px;
}